<p id = "notice" ></p>
<div class = "container" >
  <div class = "row" >
    <div class = "col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto" >
      <h2>User info</h2>
      <% if @user.errors.any? %>
      <%= @user.errors.count %>error prohibited this obj from being saved:
      <ul>
        <% @user.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
      </ul>
      <% end %>
      <%= form_with model: @user do |f| %>
      <div class = "foem-group">  
      <label for="inputName">Name</label>
      </div>
      <div class = "foem-group">
        <%= f.text_field :name, autofocus: true, id:"inputName", placeholder:"Name"%>
      </div>
      <div class = "foem-group">
      <label for="inputImage">ProfileImage</label>
      </div>
      <div class = "foem-group">
        <%= f.file_field :profile_image, placeholder: "Image", accept: "image/*" %>
      </div>
      <div class = "foem-group">
      <label for="inputName">Introduction</label>
      </tr>
      <tr</div>
      <div class = "foem-group">
        <%= f.text_field :introduction, autofocus: true, id:"inputIntroduction", placeholder:"Introduction"%>
      </div>
      <div class = "foem-group">
        <%= f.submit "Update User", class:"btn btn-secondary" %>
      </div>
      <% end %>
    </div>
  </div>
</div>