<h2>User info</h2>
<div>
    <h4><%= @user.name %></h4>
    <%= image_tag @user.get_profile_image(100,100) %>
    <% if @user == current_user %>
    <p><%= link_to '<% fas fa-user-cog %>', edit_user_path(@user) %></p>
<% end %>
    
</div>

<% @books.each do |book| %>
<div>
    <%= link_to book_path(book.id) do %>
      <%= image_tag book.get.get_image %>
  <p><%= image_tag book.user.get_profile_image(100,100) %></p>
  <p>Title<%= book.title %></p>
  <p>Opinion<%= book.body %></p>
</div>
</div>