    <table class = "table table-hover table-inverse" >
    <thead>
        <tr>
            <td>
                <%= link_to(book.user) do %>
                <%= image_tag book.user.get_profile_image, size: "auto" %><br>
                <%= users.name %>
                <% end %>
            </td> 
            <td><%= link_to book.title, book_path(book.id) %></td>
            <td><%= book.body %></td>
            <% if @books.user == current_user %>
            <td>
                <%= link_to "Edit", edit_book_path(@books), class:"btn btn-sm btn-success"  %>
            </td> 
            <td>
                <%= link_to "Destroy", book_path(@books), method: :delete, "data-confirm" => "本当に消しますか？", class:"btn btn-sm btn-danger"  %>
            </td>
           <% end %>
            
        </tr>
        
    </thead>
</table>       

        
 